# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import statistics
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset

pokemon_df = pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here

pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here

poke_type_1 = pokemon_df['Type 1'].unique()
poke_type_2 = pokemon_df['Type 2'].unique()

poke_types_1and2 = list(set(poke_type_1) | set(poke_type_2))

poke_types_1and2

['Normal',
 'Fairy',
 'Ground',
 'Psychic',
 'Dragon',
 'Dark',
 nan,
 'Fire',
 'Steel',
 'Water',
 'Rock',
 'Ice',
 'Fighting',
 'Bug',
 'Electric',
 'Poison',
 'Ghost',
 'Grass',
 'Flying']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# your code here

pokemon_df["Name"] = pokemon_df["Name"].str.replace("Mega", "")

# test transformed data
pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Venusaur Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Charizard Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Charizard Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here

pokemon_df["Atk/Def Ratio"] = round(pokemon_df["Attack"] / pokemon_df["Defense"], 3)

pokemon_df.head(100)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk/Def Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988
3,3,Venusaur Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False,1.600
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False,1.400
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False,0.650
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False,0.528
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False,1.167

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
# your code here

pokemon_df.loc[pokemon_df['Atk/Def Ratio'].idxmax()]

#                               386
Name             DeoxysAttack Forme
Type 1                      Psychic
Type 2                          NaN
Total                           600
HP                               50
Attack                          180
Defense                          20
Sp. Atk                         180
Sp. Def                          20
Speed                           150
Generation                        3
Legendary                      True
Atk/Def Ratio                   9.0
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
# your code here

pokemon_df.loc[pokemon_df['Atk/Def Ratio'].idxmin()]

#                    213
Name             Shuckle
Type 1               Bug
Type 2              Rock
Total                505
HP                    20
Attack                10
Defense              230
Sp. Atk               10
Sp. Def              230
Speed                  5
Generation             2
Legendary          False
Atk/Def Ratio      0.043
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [9]:
# your code here

pokemon_df["Combo Type"] = pokemon_df["Type 1"] + "-" + pokemon_df["Type 2"].fillna("")

pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk/Def Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988,Grass-Poison
3,3,Venusaur Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209,Fire-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.667,Rock-Fairy
796,719,Diancie Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.455,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.667,Psychic-Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.917,Fire-Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [10]:
# your code here

pokemon_df.nlargest(5, ["Atk/Def Ratio"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk/Def Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic-
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Beedrill Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock-
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [11]:
# your code here

#top_pokemon_df = pokemon_df.groupby(["Combo Type"])["Atk/Def Ratio"].agg(list).reset_index()

top_5_pokemon_df = pokemon_df.sort_values(by="Atk/Def Ratio", ascending=False).head(5)

combo_types_uniq = top_5_pokemon_df["Combo Type"].unique().tolist()

combo_types_uniq

['Psychic-', 'Water-Dark', 'Bug-Poison', 'Rock-']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [12]:
# your code here


filtered_poke_types_df = pokemon_df[pokemon_df["Combo Type"].isin(combo_types_uniq)]

top_poke_mean_df = round(filtered_poke_types_df.groupby("Combo Type").mean(), 3)

top_poke_mean_df

/var/folders/n7/qn8s75510p5chs7mw2tvcgy80000gp/T/ipykernel_2407/2799448147.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  top_poke_mean_df = round(filtered_poke_types_df.groupby("Combo Type").mean(), 3)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk/Def Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,199.167,347.917,53.750,68.333,58.083,42.500,59.333,65.917,2.333,0.000,1.316
Psychic-,381.974,464.553,72.553,64.947,67.237,98.553,82.395,78.868,3.342,0.237,1.164
Rock-,410.111,409.444,67.111,103.333,107.222,40.556,58.333,32.889,3.889,0.111,1.260
Water-Dark,347.667,493.833,69.167,120.000,65.167,88.833,63.500,87.167,3.167,0.000,2.292